<div class="business_header">
  <div class="container">
    <div class="row">
      <div class="col-md-3 business_image text-center">
        <img src="http://static1.squarespace.com/static/543eef57e4b04bbe6d9de410/t/543f4502e4b07d76437fd486/1413526254783/?format=1000w" class="img-responsive" alt="" />
        <h3>Tilt It Up</h3>
      </div>
      <div class="col-md-offset-1 col-md-8">
        <div class="business_header__register">
          <h2>Instagramers want to know about your business!</h2>

          <p>
          <span class="glyphicon glyphicon-ok"></span>
            Engage interested users with your content.
          </p>
          <p>
          <span class="glyphicon glyphicon-ok"></span>
            Connect with your audience via text.
          </p>
          <p>
          <span class="glyphicon glyphicon-ok"></span>
            Customize your image content.
          </p>
          <a class="btn btn-default btn-lg " href="#">Register your business</a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="business_body">
  <div class="container">
    <div class="row">
      <div class="col-md-12 business_body__header">
        <div class="row">
          <div class="col-md-3">
            <h2>count</h2>
          </div>

          <div class="col-md-offset-1 col-md-7">
            <h2>#tellMe</h2>
          </div>
        </div>
      </div>

      <!-- each of the image posts goes here -->
      <% @images.each do |image| %>
        <div class="col-md-12 business_tellme">
          <div class="row">
            <div class="col-md-3 business_tellme__number">
              <h3><%= (8...19).to_a.shuffle.pop %></h3>
            </div>
            <div class="col-md-offset-1 col-md-3">
              <%= image_tag(image.url, class:"business_tellme__img") %>
            </div>
            <div class="col-md-offset-1 col-md-4">
              <p>
                Register to edit your business info!
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
