<div class="col-md-3">
  <%= image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAKyAAAAJGMyMzFkZDY0LTQ4MDYtNDljMC04ZTE0LTkwYzQwOWExNTY3OQ.jpg", class: " user-pic img-responsive img-circle") %>
  <div>
    <ul class="list-unstyled">
      <li><h3>@jakekaad</h3></li>
      <li><a href="#">Edit Info</a></li>
    </ul>
  </div>
</div>
