<!-- .user-pic {
    margin: 100px;
    height:200px;
    width: 200px;
    border-radius: 50%;
} -->

<div class="side col-md-4">
  <h4>Where am I?</h4>
  <img class="user-pic" src="http://upload.wikimedia.org/wikipedia/commons/2/27/Sherman_Profile.png" />
  <div class="bg-info">
        <ul class="side">
          <li><h3>Username</h3></li>
          <li><a href="#">Edit Info</a></li>
          <li><a href="#">Manage Account</a></li>

        </ul>
  </div>
</div>
<!-- <div class="side col-md-8">
  <h3>Where am I, too?</h3>
</div> -->
