<div class="col-md-3">
  <a href="https://instagram.com/jakekaad/">
    <%= image_tag("jake.jpg", class: " user-pic img-responsive img-circle") %>
  </a>
  <div>
    <ul class="list-unstyled">
      <li><h3>@jakekaad</h3></li>
      <li><a href="#">Edit Info</a></li>
    </ul>
  </div>
</div>
