

<div class="side col-md-3 well">
  <h4>Where am I?</h4>
  <%= image_tag("http://upload.wikimedia.org/wikipedia/commons/2/27/Sherman_Profile.png", class: " user-pic img-responsive img-circle") %>
  <div>
        <ul class="side list-unstyled">
          <li><h3>Username</h3></li>
          <li><a href="#">Edit Info</a></li>
          <li><a href="#">Manage Account</a></li>
        </ul>
  </div>
</div>

