<div class="container user_header">
  <div class="row">
    <%= render 'sidebar' %>
    <div class="col-md-offset-1 col-md-8 user_tellme">
      <h2>Your #tellMe's</h2>
      <div class='row'>

        <% @images.each do |image| %>
        <div class='col-md-12'>
          <div class="col-md-3">
            <%= image_tag(image.url, class: 'business_tellme__img') %>
            <p><%= image.business.name %></p>
          </div>

          <div class="col-md-9">
            <%= image.business.message %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
