<div class="container dash-container">
  <%= render 'sidebar' %>

    <h1>Hello, this is working.</h1>

    <% @images.each do |image| %>

      <div class='image-container'>
        <%= image_tag(image.url) %>
      </div>

    <% end %>
</div>
