.img-logo {
  height: 52px;
  position: relative;
  bottom: 15px;
}

.user_header {
  padding-top: 50px;
}

.user_tellme h2 {
  font-size: 3em;
  border-bottom: 1px solid #C8C8C8;
  margin-bottom: 50px;
}

.user_tellme__body {
  font-size: 1.2em;
}

.user_tellme__post {
  margin-bottom: 20px;
}

.user_tellme__business-name {
  text-align: center;
  font-size: 1.7em;
}

.user_refresh {
  position: relative;
  top: 25px;
}

.business_header {
  padding: 50px 0;
  background: snow;
  font-size: 1.5em;
  color: #333;
  box-shadow: 0 2px 5px #999 inset;
}

.business_header h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.business_header h3 {
  font-size: 1.5em;
}

.business_header a {
  color: #999;
}

.business_body__header {
  text-align: center;
  border-bottom: 1px solid #C8C8C8;
}

.business_body__header h2 {
  font-size: 3em;
}

.business_tellme {
  padding-top: 50px;
}

.business_tellme p {
  font-size: 2em;
  color: #31B53C;
}

.business_tellme__img {
  width: 100%;
  border: 1px solid black;
  padding: 2px;
  box-sizing: border-box;
}

.business_tellme__number h3 {
  text-align: center;
  font-size: 4em;
}

.business_image {
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 0 0 3px #999;
}

.navbar {
  padding: 20px 0;
  margin-bottom: 0;
}

.side {
  height: 100%;
  position: absolute;
}
