<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= image_tag('tellMe_logo.png', alt:'tellMe logo', class:"img-logo") %></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-default" href="#">Account</a></li>
      <li><a class="btn btn-default" href="#">Sign Out</a></li>
    </ul>
  </div>
</nav>
