<h1>Welcome to Tell Me</h1>

<form class="form-group">
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name">
    <input type="text" placeholder="Username">
    <input type="text" placeholder="Phone">
    <input type="text" placeholder="Email">
    <button class="btn btn-md-primary" type="submit">Sign IN</button>
</form>
